@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    background: #60a9ff;
    line-height: 1;
}

/* Utilities */
h2 {
    color: #888;
}

ul {
    list-style: none;
    color: #60a9ff;
}

a {
    text-decoration: none;
}

h2,
li,
a,
p {
    text-transform: uppercase;
}

img {
    width: 100%;
}

.btn {
    display: block;
    margin: 2rem 0 1rem 0;
    border: 1px solid #91c4ff;
    border-radius: 8px;
    padding: 1rem 0;
    color: #60a9ff;
    font-weight: 400;
}

.btn-light:hover {
    background: #d2e7ff;
}

.btn-dark:hover {
    background: #60a9ff;
    color: #fff;
}

.container {
    background: #fff;
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 4rem auto;
    border-radius: 10px;
}

/* Card */
#card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    padding: 2rem 4rem;
    margin: 1rem 0;
    border-right: 1px solid #e1effe;
}

.card h2:nth-last-child(1) {
    border: 0;
}

#card-content .main-title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#card-content li {
    padding: 1rem;
    font-size: 0.7rem;
    border-top: 1px solid #e1effe;
    font-weight: 700;
    color: #016ff9;
    letter-spacing: 0.8px;
    line-height: 1.4;
}

#card-content ul {
    padding-bottom: 2rem;
}

#card-content li:nth-last-child(1) {
    border-bottom: 1px solid #e1effe;
}

#card-content .bold-item {
    color: #016ff9;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media(max-width:960px) {
    #card-content {
        display: block;
    }

    .container {
        background: #fff;
        width: 100%;
        max-width: 460px;
        height: 100%;
        margin: 4rem auto;
        border-radius: 10px;
    }
}